*{
  margin: 0;
  width: 100%;
  padding: 4px;
}
.headingtag{
  margin: auto;
  text-align: center;
  background-color: black;
  color: white;
}
.showDet{
  margin: 0;
}
.showdetails-info{
  width: 50%;
  border: solid;
  height: 45%;
  margin: auto;
  padding: 10px;
}
.showdetail-img{
  height: 400px;
  width: 400px;
  float: right;
}
.show-details-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.btn-cont {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.showdetails-btn,
.movie-btn {
  padding: 10px;
  margin: 5px;
  background-color: black;
  color: white;
}
